:root {
    --colors--text--normal: #FFFFFF;
    --colors--text--active: #DDDDDD;
    --colors--background--static: #2B2B2B;
    --colors--background--static-active: #09765F;
    --colors--background--floating: #333333;
    --colors--background--floating-dark: #111111;
    --colors--background--floating-active: #12AA8A;
    --colors--background--input: var(--colors--text--normal);
    --colors--message--neutral: var(--colors--background--floating-active);
    --colors--message--error: #DC3545;
    --colors--message--info: #17A2B8;
    --colors--message--debug: #FFC107;
    --colors--message--success: #28A745;

    --remove--from-height: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background: var(--colors--background--static);
}

.custom-element {
    display: block;
    overflow: hidden;
}

.custom-element.inline-element {
    display: inline-block;
}

.custom-element.flex-element {
    display: flex;
}

.custom-element.flex-element.inline-element {
    display: inline-flex;
}

.custom-element.grid-element {
    display: grid;
}

.custom-element.grid-element.inline-element {
    display: inline-grid;
}

.application-window {
    animation: 0.2s appear-bottom;
}

.application-window.hide {
    animation: 0.2s disappear-bottom;
    opacity: 0;
    transform: scaleY(0);
}

@keyframes appear-bottom {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes disappear-bottom {
    from {
        opacity: 1;
        transform: scaleY(1);
        height: var(--remove--from-height);
    }

    to {
        opacity: 0;
        transform: scaleY(0);
        height: 0;
    }
}
